/**
COVER IMAGE CC0 Public Domain
**/

@keyframes levitate {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    text-shadow: 5px 5px 6px black;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes nav-up {
  from {
    background: #5A7078;
    letter-spacing: 4px;
  }
  to {
    background: transparent;
    letter-spacing: 4px;
  }
}
@keyframes nav-down {
  from {
    background: transparent;
  }
  to {
    background: #5A7078;
  }
}
.main {
  background: #b5b5b5;
  font-family: 'Raleway', sans-serif;
  max-width: 100%;
}

.navbar {
  background: transparent;
  letter-spacing: 4px;
  animation: nav-up 1s forwards;
  border: none;
}
@media (min-width: 768px) {
  .navbar-scroll {
    animation: nav-down 1s forwards;
  }
}

.navbar-default  {
}
.navbar-default .navbar-nav > li > a:link,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:visited {
  color: white;
  background: transparent;
}
.navbar-brand span {
    color:white;
}
@media (min-width: 769px) {
  .navbar-default .navbar-nav > li > a {
    text-shadow: 2px 2px 10px black;
  }
  .navbar-default .navbar-nav > li > a:hover{
    animation-name: levitate;
    animation-duration: .6s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: infinite;    
    animation-iteration-count: infinite;
  }
}

@media (min-width: 768px) {
  .navbar .navbar-nav > li {
    padding-top: 12px;
  }
  .navbar {
    min-height: 80px;
  }
}

@media (max-width: 767px) {
  .navbar {
    background: #5A7078;
    border-bottom: 2px solid #e0e0e0;
    animation: none;
  }
  .navbar-header .navbar-toggle{
    border: 2px solid #949494;
  }
  .navbar-header .navbar-toggle:focus {
    background: none;
  }
  .navbar-header .navbar-toggle:hover {
    background: #91D4EB;
  }
  .navbar-header .icon-bar {
    border: 1px solid #e0e0e0
  }
  .navbar-default .navbar-nav > div {
    background: #C5C8C9;
  }
  .navbar-default .navbar-nav {
    background: #5A7078;
  }
  .navbar-default .navbar-nav > li > a:link {
    background: transparent;
  }
  .navbar-default .navbar-nav > li > a:active {
    background: #7BACBD;
  }
  .navbar-default .navbar-nav > li > a:hover {
    background: #91D4EB;
  }
}

.head {
  padding-top: 10px;
  letter-spacing: 2px;
  text-align: center;
  font-size: 1.8em;
}

.welcome-name {
  padding-top: 50px;
  text-align: center;
  font-size: 1.4em;
}
.welcome {
  color: white;
  padding: 80px 0 0 0;
  height: 100vh;
  background: #c9d1ce;
  background-image: url('cover.jpg');
  background-size: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.welcome-info {
  font-size: 1.2em;
}
.welcome-social {
  margin-top: 40vh;
}
.welcome-social button{
  background: transparent;
  border: 2px solid white;
  font-size: 1.5em;
  padding: 10px 15px 10px 15px;
  outline: none;
}
.social {
  display: flex;
  font-size: 3.4em;
  margin: 0 auto 40px auto;
  justify-content: space-between;
  width: 620px;
}
.social-button {
  flex-basis: 25%;
  border-radius: 50%;
  border: 2px solid white;
  margin: 0 40px 0 40px;
  color: white;
  outline: none;
}
.social-button:hover, .social-button:focus{
  background:white;
  color: #a6bce0;
}
@media (max-height: 640px) { .welcome-social { margin-top: 30vh;}}
@media (max-height: 580px) { .welcome-social { margin-top: 20vh;}}
@media (max-height: 500px) { .welcome-social { margin-top: 10vh; } .welcome { height: 500px;}}
@media (min-height: 800px) { .welcome-social { margin-top: 50vh;}}
@media (max-width: 679px) {
  .social { width: 200px; flex-wrap: wrap;}
  .social-button { flex-basis:40%; margin: 0 0 10px 0; }
}
@media (max-width: 679px) and (min-height: 641px) {  .welcome { padding-top: 40px; } .welcome-social {margin-top: 20vh;} }
@media (max-width: 679px) and (max-height: 640px) {  .welcome { padding-top: 40px; } .welcome-social {margin-top: 15vh;} }
@media (max-width: 679px) and (max-height: 590px) {  .welcome { padding-top: 40px; } .welcome-social {margin-top: 5vh;} }
@media (max-width: 679px) and (max-height: 500px) {  .welcome-social {margin-top: 3vh;} }

.projects {
  box-shadow: 0 0 6px black;
  margin-bottom: 20px;
  padding-bottom: 6px;
  background: #eaeaea;
}
.project-list {
  flex-wrap: wrap;
}
.project {
  flex-basis: 30%;
  box-sizing: border-box;
  background: transparent;
  border-radius: 10px;
  display: block;
  margin-bottom: 20px;
}
.project p {
  font-size: 1.2em;
}
.thumb {
  border-radius: 10px;
  max-width: 100%;
  box-shadow: 0 4px 4px #5A7078;
  
}

@media (min-width: 601px) {
  .project-list {
    display: flex;
    justify-content: space-between;
  }
  .project {
    margin: auto;
    flex-basis: 30%;
    margin-bottom: 20px;
  }
}

.head span {
  padding-top: 5px;
}
.head span:before {
  content: "§|";
  margin-right: 6px;
}
.about {
  margin-top: -16px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(201, 209, 206);
/*   background-image: url(''); */
  padding: 20px 0 20px 0;
}

.decorate i{
  border: 3px solid #5A7078;
  color: #5A7078;
  background: white;
  font-size: 4em;
  padding: 10px;
  border-radius: 50%;
}
.about-box {
  justify-content: space-between;
  margin: 0 auto 0 auto;
  flex-basis: 30%;
}
.about-img {
  margin: auto;
  display: flex;
  justify-content: center;
}
.about-img img {
  display:flex;
  box-shadow: 0 2px 4px #5A7078;
}
.about-edu, .about-oth {
  padding-top: 10px;
  text-align: center;
  font-size: 1.2em;
}
.about-edu span, .about-oth span {
  font-size: .9em;
}
.profile{
  border-radius: 10%;
}
.footer {
  height: 100%;
  background: #5A7078;
  font-size: 1em;
  padding-bottom: 5px;
  margin-top: -3px;
  z-index: 0;
  position: relative;
}
.footer > p {
  margin-top: 3px;
  margin-bottom: -20px;
  padding: 4px;
  background: #5A7078;
  border-bottom: 2px solid black;
}
.contact-info {
  padding: 20px 0 20px 0;
  display: block;
  box-shadow: 0 0 5px black;
  position: relative;
  z-index: 20;
}
.contact-info p {
  margin: 0 20px 0 20px;
}
.email:hover {
  color:white;
  text-shadow: 2px 2px 8px black;
}

@media (max-width: 1024px) {
  .contact-info {
    text-align: center;
  } 
}

@media (max-width: 767px) {
  .about-box {
    flex-basis: 100%;
  }
  .decorate {
    padding-top: 12px;
  }
}